
/* display of element */

html body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap:3rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width:30vw;
    height:auto;
    box-sizing: border-box;
    margin-top: 20vh;
    min-width: 349px;
    min-height:519px;

    max-width: 420px;
    
    
    
    
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: stretch;
    align-content:center ;

   
    text-align: right;
    box-sizing: border-box;
    width:30vw;
    height:auto;


    min-width: 348px;
    min-height:140px;
    
    max-width: 419px;

    margin-top: 3px;
    margin-bottom: 3px;
    
    
    
    
}

.inputDisplay {
    height:auto;
    min-width: 348px;
    border: thin solid gray;
    align-self: center;
    box-sizing: border-box;
    padding:0px 2rem 0 0;
    font-size:30px;
    margin:20px 1rem 0px 2rem;
    box-sizing: border-box;
    width:30vw;

    max-width: 419px;

    line-height: 1;
    text-wrap: wrap;
    
   
}

.outcomeDisplay{
    height:auto;
    min-width: 348px;
    border:1px solid gray;
    align-self: center;
    font-size: 55px;
    padding:0 1.8rem 0 0;
    margin: 0 1rem 8px 2rem;

    width:30vw;

    max-width: 420px;

    line-height:1;

    box-sizing: border-box;
    text-wrap: wrap;
    
    
    

}

.inputButton{
    display: flex;
    min-width: 346px;
    min-height:380px;
    height:auto;
    justify-content: space-evenly;
    align-items: stretch;
    
    
    border: thin solid gray;
    align-self: center;
    box-sizing: border-box;
    padding:1.2rem 0 1rem 0;
    align-self: stretch;
    
    max-width: 415px;
    max-height:450px;
    
    

   
    
}

.numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    min-width: 228px;
    min-height:344px;
    width:20vw;
    align-self: center;
    
    padding:0;
    max-width: 280px;
    max-height:414px;

    flex:0 0 auto;

}

.operators{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0;
    flex:0 0 auto;


}

button {
    width: 5vw;
    height: 5vw;
    font-size: x-large;
    min-width:57.8px;
    min-height: 57.8px;

    max-width:70px;
    max-height: 70px;
    

}



 .equal{
    width: 5vw;
    height: 12vw;
    min-width:57.8px;
    min-height: 138.72px;

    max-height:168px;
    
}



/* the style of elements */
html, body{
    background-color: rgb(232, 232, 232);
    font-family: "Jost", sans-serif;
    background-image: url('bkgimg2.jpg');
    background-size: cover;
    
}

main{
    border-radius: 20px;
    border: 2.5px solid rgb(237, 249, 251);
    filter: drop-shadow(0 0mm 0.6rem rgb(189, 189, 189));
    background-color: rgb(227, 227, 227);
    opacity: 0.7;

}

.inputButton{
    border-radius: 0 0 17px 17px;
    border: 0px solid rgb(255, 255, 255);
    
    background-color: rgb(246, 246, 246);
    opacity: 1;
    
}

button{
    border: 0px solid rgb(170, 170, 170);
    background-color: rgb(246, 246, 246);
    font-family: "Jost", sans-serif;
    font-size:32px;
    font-weight: 330;
    border-radius: 50%;
    color:black;

    
    
}

.clear, .allClear{
    font-size:26px;
    line-height:2.3;
}

.operator, .equal{
    font-size:43px;
    
}

.operator{
    line-height: 0.5;
}




.clear, .allClear,.operator, .equal{
    background-color: #e4e3e3;
    border-radius: 50%;
}

.equal{
    line-height: 4.9;
    border-radius: 40px;
}

.inputDisplay, .outcomeDisplay{
    border: 0px solid gray;
    word-wrap: break-word;
}

.inputDisplay{
    color: rgb(129, 121, 121);
    font-weight: 300;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:gray;
}

.made{
    font-weight: 300;
}

img{
    width:30px;
    width:30px;
    color: gray;
}



a {
    text-decoration: none;
    color:inherit;
}

p {
    margin:0;
}

.credit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    margin-top: 3px;
    font-weight: 800;
    font-size: large;
    letter-spacing:1.5px;
    color:rgb(222, 239, 255)

}

